
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #fff8f0;
  color: #47261a;
  line-height: 1.6;
}

header {
  background-color: #d47726; 
}

header img {
  width: 450px !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}

nav {
  background-color: #ff7f12;
  padding: 12px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: #ffe1c4;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #d86222;
}

footer {
  background-color: #700e01;
  border-top: 1px solid #ccc;
  padding: 20px 0;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

footer .footer-container {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin-bottom: 10px;
}
